<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Krystian Skwierawski</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white p-0">
            <div class="container-fluid">
                <a class="navbar-brand ml-3" asp-controller="Home" asp-action="Index">Krystian Skwierawski</a>

                <button class="navbar-toggler my-2 mr-3" type="button" data-toggle="collapse" data-target="
                    #mainmenu" aria-controls="mainmenu" aria-expanded="false" aria-label="nav switch">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="mainmenu">
                    <ul class="navbar-nav ml-auto mr-3 my-2">
                        <li class="nav-item ml-2">
                            <a class="nav-link" id="about-me-nav" href="#">About me</a>
                        </li>
                        <li class="nav-item ml-2">
                            <a class="nav-link" id="projects-nav" href="#">Projects</a>
                        </li>
                        <li class="nav-item ml-2">
                            <a class="nav-link" id="skills-nav" href="#">Skills</a>
                        </li>
                        <li class="nav-item  ml-2">
                            <a class="nav-link" href="#" id="contact-nav">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <main role="main" class="pb-3">
        @RenderBody()
    </main>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - www - Krystian Skwierawski
        </div>
    </footer>
    <script src="https://kit.fontawesome.com/88d2a979b7.js" crossorigin="anonymous"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        $(document).ready(function () {
            var NavY = $('nav').offset().top;

            var stickyNav = function () {
                var ScrollY = $(window).scrollTop();

                if (ScrollY > NavY) {
                    $('nav').addClass('sticky');
                } else {
                    $('nav').removeClass('sticky');
                }
            };

            stickyNav();

            $(window).scroll(function () {
                stickyNav();
            });
        });
    </script>
    <script src="~/js/jquery.scrollTo.min.js"></script>
    <script>
        jQuery(function ($) {
            $.scrollTo(0);
            $('#about-me-nav').click(function () { $.scrollTo($('#about-me'), 500); });
            $('#projects-nav').click(function () { $.scrollTo($('#projects'), 500); });
            $('#skills-nav').click(function () { $.scrollTo($('#skills'), 500); });
            $('#contact-nav').click(function () { $.scrollTo($('#contact'), 500); });
        }
        );
    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>
