@model www.Models.Message
@await Component.InvokeAsync("NToastNotify")

<div class="avatar-container mx-auto ">
    <img src="~/images/avatar.png" alt="Avatar" class="image shadow-lg">
    <div class="overlay p-1 bg-white text-dark rounded ">Krystian Skwierawski</div>
</div>

<div class="container-fluid bg-dark text-white  p-5">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h1 class="my-5">About me </h1>
                <hr class="bg-secondary" />
            </div>
        </div>
        <div class="row mt-5">
            <p>
                ignissim vest
                ibulum metus. Nulla eget ligula et turpis mollis ultricies. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Fusce ut dignissim arcu, in commodo est. Nunc eu pharetra mi, eget dictum nibh. Suspendisse rutrum a lorem eget viverra. Donec ut nisl ac turpis molestie feugiat. Aenean ut odio porttitor, luctu
                ignissim vestibulum metus. Nulla eget ligula et turpis mollis ultricies. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Fusce ut dignissim arcu, in commodo est. Nunc eu pharetra mi, eget dictum nibh. Suspendisse rutrum a lorem eget viverra. Donec ut nisl ac turpis molestie feugiat. Aenean ut odio porttitor, luctu
                ignissim vestibulum metus. Nulla eget ligula et turpis mollis ultricies. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Fusce ut dignissim arcu, in commodo est. Nunc eu pharetra mi, eget dictum nibh. Suspendisse rutrum a lorem eget viverra. Donec ut nisl ac turpis molestie feugiat. Aenean ut odio porttitor, luctus enim vitae, porta lorem.
            </p>
        </div>
    </div>
</div>

<div class="container bg-white text-body text-center my-5">
    <h1 class="mb-5">Projects</h1>
    <hr />
    <div class="row">
        <div class="card col-md-6 col-lg-4  mx-auto px-0  my-5">
            <img src="~/images/projekt1.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
        <div class="card col-md-6 col-lg-4  mx-auto px-0  my-5">
            <img src="~/images/projekt1.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
        <div class="card  col-md-6 col-lg-4  mx-auto px-0  my-5">
            <img src="~/images/projekt1.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>





        <div class="card col-md-6 col-lg-4  mx-auto px-0  my-5">
            <img src="~/images/projekt1.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
        <div class="card col-md-6 col-lg-4  mx-auto px-0  my-5">
            <img src="~/images/projekt1.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
        <div class="card  col-md-6 col-lg-4  mx-auto px-0  my-5">
            <img src="~/images/projekt1.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
</div>




<div class="container-fluid bg-dark text-white  p-5">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h1 class="mb-5">Skills </h1>
                <hr class="bg-secondary" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-lg-3 mt-3 mb-5">
                <ul class="list-group">
                    <li class="list-group-item text-dark">Languages</li>
                    <br />
                    <li class="list-group-item text-secondary">C#</li>
                    <li class="list-group-item text-secondary">C++</li>
                    <li class="list-group-item text-secondary">HTML</li>
                    <li class="list-group-item text-secondary">CSS</li>
                    <li class="list-group-item text-secondary">XAML</li>
                    <li class="list-group-item text-secondary">SQL</li>
                    <li class="list-group-item text-secondary">LINQ</li>
                </ul>
            </div>
            <div class="col-md-4 col-lg-3 mt-3 mb-5">
                <ul class="list-group ">
                    <li class="list-group-item text-dark">Databases</li>
                    <br />
                    <li class="list-group-item text-secondary">MySQL</li>
                </ul>
            </div>
            <div class="col-md-4 col-lg-3 mt-3 mb-5">
                <ul class="list-group ">
                    <li class="list-group-item text-dark">Frameworks</li>
                    <br />
                    <li class="list-group-item text-secondary">Entity Framework</li>
                    <li class="list-group-item text-secondary">Bootstrap</li>
                    <li class="list-group-item text-secondary">WPF MVVM</li>
                    <li class="list-group-item text-secondary">WinForms</li>
                    <li class="list-group-item text-secondary">ASP .NET Core MVC</li>
                    <li class="list-group-item text-secondary">NUnit</li>
                </ul>
            </div>
            <div class="col-md-4 col-lg-3 mt-3 mb-5">
                <ul class="list-group ">
                    <li class="list-group-item text-dark">Others</li>
                    <br />
                    <li class="list-group-item text-secondary">Git</li>
                    <li class="list-group-item text-secondary">REST API</li>
                    <li class="list-group-item text-secondary">Unity</li>
                    <li class="list-group-item text-secondary">Razor pages</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="container bg-white text-dark p-5">
        <div class="row">
            <div class="col-12 text-center">
                <h1 class="mb-5">Contact </h1>
                <hr />
            </div>
        </div>
        <div class="row">
            <div class="mt-3 mb-5 mx-auto">
                <form method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-row py-2">
                        <div class="col-lg-6 name">
                            <input asp-for="Name" placeholder="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="col-lg-6">
                            <input asp-for="Email" type="email" placeholder="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-row py-2">
                        <div class="col">
                            <input asp-for="Topic" placeholder="Topic" class="form-control" />
                            <span asp-validation-for="Topic" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-row py-2">
                        <div class="col">
                            <textarea asp-for="Content" placeholder="Message" style="min-height: 200px;" class="form-control"></textarea>
                            <span asp-validation-for="Content" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col text-center">
                            <button type="submit" class="btn btn-primary px-4 py-2">Send</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

<div class="container mb-5">
    <div class="row text-center">
        <div class="col-4 social-media my-3 mx-auto">
            <a href="#">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <i class="fab fa-facebook-f text-center"></i>
            </a>
        </div>
        <div class="col-4 social-media  my-3 mx-auto">
            <a href="#">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <i class="fab fa-github text-center"></i>
            </a>
        </div>
        <div class="col-4 social-media  my-3 mx-auto">
            <a href="#">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <i class="fab fa-linkedin-in text-center" ></i>
            </a>
        </div>
    </div>
</div>


@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}