a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all
}

a {
    color: #0366d6
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac
}

html {
    font-size: 14px
}

@media (min-width: 768px) {
    html {
        font-size: 16px
    }
}

.border-top {
    border-top: 1px solid #e5e5e5
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0,0,0,.05)
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit
}

html {
    position: relative;
    min-height: 100%
}

body {
    margin-bottom: 60px
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px
}

#contact-nav {
    transition: .2s;
    border: 1px solid #000;
    background-color: #000;
    color: #fff;
    border-radius: 5px
}

    #contact-nav:hover {
        background-color: #fff;
        color: #000
    }


@media screen and (max-width:440px) {
    .navbar-toggler {
        margin-bottom: 10px
    }
}

@media screen and (max-width:880px) {
    .start {
        margin-top: 50% !important
    }

    figcaption {
        font-size: 25px
    }
}

@media screen and (max-width:700px) {
    .navbar-brand {
        font-size: 16px
    }

    #mainmenu {
        font-size: 12px
    }
}

@media screen and (max-width:991px) {
    .name {
        padding-bottom: 16px
    }
}

@media screen and (max-width:574px) {
    .navbar-brand {
        font-size: 16px
    }

    #mainmenu {
        font-size: 16px
    }
}

@media screen and (max-width:800px) {
    .navbar {
        text-align: center
    }

    #kontakt-nav {
        margin-bottom: 13px
    }

    .navbar-brand {
        font-size: 20px !important
    }
}

.sticky {
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    box-shadow: 5px 5px 10px
}

.projects-img {
    border-radius: 5%;
    transition: all .3s;
    width: 540px;
    transform: scale(1)
}

    .projects-img:hover {
        transform: scale(1.1)
    }

.navbar {
    transition: .8s;
    font-size: 20px
}

::-webkit-scrollbar {
    width: 10px
}

::-webkit-scrollbar-track {
    background: #f1f1f1
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #000
}

    ::-webkit-scrollbar-thumb:hover {
        background: #555
    }

.start-text {
    margin-top: 4%;
    font-size: 80px;
    font-family: 'Roboto', sans-serif;
}

.avatar-container {
    margin-top: 12%;
    margin-bottom: 25%;
}

.avatar {
    min-width: 267px;
    border-radius: 50%;
    position: relative;
    width: 60%;
    max-width: 300px;
}

@media screen and (max-width:767px) {
    .avatar {
        margin-left: auto;
        margin-right: auto;
    }

    .start-text {
        margin-top: 0;
        font-size: 60px;
        text-align: center;
    }
}


.image {
    border-radius: 50%;
    width: 100%;
    height: auto;
}

.overlay {

    position: absolute;
    bottom: 43%;
    width: 90%;
    transition: .5s ease;
    opacity: 0;
    color: white;
    font-size: 20px;
    text-align: center;
}

.avatar:hover .overlay {
    opacity: 1;
}

.card {
    max-width: 350px !important;
}

.social-media {
    max-width: 50px !important;
}

    .social-media a {
        transform: translate(-50%, -50%);
        line-height: 50px;
        font-size: 20px;
        width: 50px;
        height: 50px;
        color: #262626;
        transition: .5s;
    }

        .social-media a span {
            position: absolute;
            transition: transform .5s;
        }

            .social-media a span:nth-child(1),
            .social-media a span:nth-child(3) {
                background: #262626;
                height: 1px;
                width: 100%;
            }

            .social-media a span:nth-child(1) {
                top: 0;
                left: 0;
                transform-origin: right;
            }


    .social-media:hover a span:nth-child(1) {
        transform: scaleX(0);
        transform-origin: left;
        transition: transform .5s;
    }


    .social-media a span:nth-child(3) {
        bottom: 0;
        left: 0;
        transform-origin: left;
    }


    .social-media:hover a span:nth-child(3) {
        transform: scaleX(0);
        transform-origin: right;
        transition: transform .5s;
    }


    .social-media a span:nth-child(2),
    .social-media a span:nth-child(4) {
        background: #262626;
        height: 100%;
        width: 1px;
    }

    .social-media a span:nth-child(2) {
        top: 0;
        left: 0;
        transform: scale(0);
        transform-origin: bottom;
    }


    .social-media:hover a span:nth-child(2) {
        transform: scale(1);
        transform-origin: top;
        transition: transform .5s;
    }

    .social-media a span:nth-child(4) {
        top: 0;
        right: 0;
        transform: scale(0);
        transform-origin: top;
    }


    .social-media:hover a span:nth-child(4) {
        transform: scale(1);
        transform-origin: bottom;
        transition: transform .5s;
    }
